# TODO: Go through and make sure these are all used in docker-compose.yaml

EUREKA_DEFAULT_ZONE=http://server-registry:8761/eureka
CONFIG_SERVER=http://config-server:8888

API_POSTGRES_USER
API_POSTGRES_PASSWORD
