# TODO: Go through and make sure these are all used in docker-compose.yaml

EUREKA_DEFAULT_ZONE=http://server-registry:8761/eureka
CONFIG_SERVER=http://config-server:8888

REST_API_DB_URL
API_POSTGRES_USER
API_POSTGRES_PASSWORD

SECURITY_API_DB_URL
SECURITY_POSTGRES_USER
SECURITY_POSTGRES_PASSWORD
SECURITY_VAULT_TOKEN

VAULT_TOKEN
VAULT_URI
