# VS Code
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Imported sub-repos
.repo/*
spring_microservices/*

# The filled out docker-compose environment file
.env
.production_configured.txt
gateway-https.p12
